@font-face {
    font-family: Montserrat;
    src: url("Montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: MontserratBold;
    src: url("Montserrat/Montserrat-Bold.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
p{
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    color: #616161;
}
.menu, ul {
    display: flex;
    align-items: center;
}
.menu {
    width: 1395px;
    margin: 60px auto 60px 160px;
}
ul {
    list-style-type: none ;
    gap: 30px
}
.logo{
    width: 160px;
    height: 87px;
    background: url(img/logo.png) no-repeat;
    margin-right: 248px;
}
.headerr{
    font-size: 13px;
    letter-spacing: 0.05em;
    margin: -1px;
}
.maiin{
    padding: 5px;
    color:#D1A954;
    border: 1px solid rgba(209, 169, 84, 0.9);
}
.bold{
    font-family: 'MontserratBold';
    color:#D1A954;
}
.menu_img{
    width: 40px;
    height: 25px;
    background: url(img/menu.png) no-repeat;
    margin-left: 173px;
}
.catologist{
    display: flex;
    gap: 32px;
    width: 1786px;
    margin: 0 auto;
    margin-top: 32px;
}
.catologist_img{
    width: 580px;
    height: 650px;
}
.corporativ{
    background: url(img/corporativ.png) no-repeat;
}
.wedding{
    background: url(img/wedding.png) no-repeat;
}
.dinner_party{
    background: url(img/dinner_party.png) no-repeat;
}
.box_img{
    width: 550px;
    height: 124px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin:504px 15px 15px 15px;
}
h3{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    margin: 20px 0px 15px 0;
}
.in_box{
    color: #FFFFFF;
    text-align: center;
}
.slider{
    width: 175px;
    height: 10px;
    background: url(img/slider.png) no-repeat;
    margin: 60px 0 0 872px;
}
/*header*/
/*main*/
h2{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    letter-spacing: 0.05em;
    color: #222222;
    font-style: normal;
    margin: 120px 0 0 816px;
}
.palace{
    width: 87px;
    height: 51px;
    background: url(img/palace.png);
    margin: 10px 0 0 915px;
}
.video{
    width: 940px;
    height: 490px;
    background: url(img/video.png);
    margin: 30px 0 0 470px;
}
.info{
    width: 1100px;
    margin: 0 auto;
    display: flex;
}
.info_2{
    margin: 105px 50px 0 0px;
}
.info_3{
    margin: 110px 0 0 0px;
}
.logo_1{
    width: 202px;
    height: 110px; 
    background: url(img/logo.png) no-repeat;
    margin: 105px 0 0 165px;
    background-size: cover;
}
.good{
    margin: 35px 0 20px 90px;
}
.texxt{
    margin: 0 110px 0 90px;
    line-height: 135%;
}
.boxbox1{
    display: flex;
    margin: 0 10px 15px 0;
}
.boxbox2{
    display: flex;
    margin: 20px 0 17px 0;
}
.boxbox3{
    display: flex;
    margin: 0 0 17px 0;
}.boxbox4{
    display: flex;
    margin: 18px 0 17px 0;
}
.huge{
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.05em;
    margin: 15px 0 0 15px;
    color: #000000;
}
.huge1{
    margin: 8px 0 0 20px;
}
.huge2{
    margin: 18px 0 0 20px;
}
.area_img{
    width: 46px;
    height: 30px;
    background: url(img/area.png);
}
.tehno_img{
    width: 37px;
    height: 31px; 
    background: url(img/tehno.png);
    margin: 0 0 0 5px;
}
.interior_img{
    width: 39px;
    height: 20px;
    background: url(img/interior.png);
}
.equip_img{
    width: 43px;
    height: 37px;
    background: url(img/equip.png);
}
.container{
    display: grid;
    width: 1110px;
    height: 960px;
    grid-template-areas:
    "A A A B   B B B B   C C C C"
    "A A A B   B B B B   C C C C"
    "A A A B   B B B B   C C C C"
    "D D D D   D D D E   E E E E"
    "D D D D   D D D E   E E E E"
    "D D D D   D D D E   E E E E"
    "D D D D   D D D F   F F F F"
    "D D D D   D D D F   F F F F"
    "D D D D   D D D F   F F F F";
    margin: 0 auto;
    gap: 30px;
    margin-top: 187px;
}
.box-1{
    grid-area: A;
    width: 255px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box-2{
    grid-area: B;
    background: url(img/box_imgB.png)no-repeat;
    width: 445px;
    height: 300px;
}
.box-3{
    grid-area: C; 
    background: url(img/box_imgC.png)no-repeat;
    width: 350px;
    height: 300px;
}
.box-4{
    grid-area: D;
    background: url(img/box_imgD.png)no-repeat;
    width: 635px;
    height: 630px;
}
.box-5{
    grid-area: E;
    background: url(img/box_imgE.png)no-repeat;
    width: 445px;
    height: 300px;
}
.box-6{
    grid-area: F;
    background: url(img/box_imgF.png)no-repeat;
    width: 445px;
    height: 300px;
}
.PboxA{
    font-size: 24px;
    color: #000000;
}
.palace1{
    margin: 0;
}
/*main*/
/*footer*/
.learn{
    background: url(img/learn.png);
    width: 1920px;
    height: 409px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.leart_text{
    color: #FFFFFF;
    margin: 0 0 60px 0;
}
.learn_case{
    display: flex;
    gap: 90px;
}
.learn_button1{
    width: 255px;
    height: 64px;
    background: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #000000;
}
.learn_button2{
    width: 320px;
    height: 64px;
}
.placeholder{
    background: url(img/placeholder.png)no-repeat;
    width: 42px;
    height: 30px;
}
.smartphone{
    background: url(img/smartphone\ \(1\).png);
    width: 30px;
    height: 30px;
}
.email{
    background: url(img/mail.png);
    width: 22px;
    height: 22px;
}
.contacts{
    display: grid;
    width: 1110px;
    height: 408px;
    grid-template-areas:
    "A A A A   A A B B   B B B B"
    "A A A A   A A B B   B B B B"
    "C C C D   D D B B   B B B B"
    "C C C D   D D B B   B B B B"
    "C C C D   D D B B   B B B B";
    margin: 0 auto;
    gap: 50px;
    margin-top: 120px;
}
.box_1{
    grid-area: A;
}
.box_2{
    grid-area: B;
}
.box_3{
    grid-area: C;
}
.box_4{
    grid-area: D;
}
.event{
    margin: 0;
    line-height: 145%;
    margin-bottom: 25px;
}
.line{
    width: 540px;
    height: 0px;
    border: 0.5px solid #D0D0D0;
    margin: 10px 0 20px 0;
}
.rect{
    width: 540px;
    height: 196px;
    border: 0.5px solid #D0D0D0;
    margin-top: 38px;
}
.name{
    margin-top: 10px;
}
.massage{
    margin: 16px 0 0 16px;
}
.butn{
    width: 182px;
    height: 45px;
    background: #D1A954;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 35px;
}
.restr{
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.05em;
    margin-bottom: 35px;
}
.restr_info{
    display: flex;
    align-items: center;
    margin: 10px 0 20px 0;
}
.geo{
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    color: #000000;
}
.chto{
    width: 207px;
}
.black{
    color: #000000;
    margin-left: 20px;
}
.instagram{
    width: 1920px;
    height: 700px;
    background: #F9F7F7;
    margin: 0 auto;
    margin-top: 110px;
    gap: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}
.insta_text{
    margin: 0 auto;
}
.insta_img{
    background: url(img/palace.png);
    width: 87px;
    height: 51px;
    margin: 0 auto;
}
.insta{
    background: url(img/insta.png);
    width: 1920px;
    height: 304px;
    margin-top: 90px;
}
.down{
    display: flex;
    gap: 530px;
}
.black2{
    color: #000000;
    margin-top: 35px;
}
/*footer*/

